body {
  
    font-family: Arial, sans-serif;
  }
button{  
  border-radius: 15px;
  color: white;
  padding: '8px 20px';
  background-color: #7a2d0ac2;
  padding: 8px 20px;
  border: none;
  font-weight: bold;
}  
button:hover{
  background-color: #7a2d0aef;
  box-shadow: 0 0 12px 0 #7a2d0aef;
  transform: scale(1.05);
  transition: 0.5s;
}